fastapi==0.115.8
uvicorn==0.34.0
python-dotenv==1.0.1
python-box==7.3.2
datasets==2.21.0
transformers==4.49.0
langchain-community==0.3.17
langchain-huggingface==0.1.2
torch==2.6.0+cpu
rouge-score==0.1.2
rouge==1.0.1
accelerate==1.4.0
evaluate==0.4.3
tqdm==4.67.1

# -e .